.top-part{
margin-left:0px;
margin-right:0px;
margin-top:0px;
background-color:#F0FFF0;
height:550px;
margin-bottom:50px;
}
.logo-at-top{
    width: 198.07px;
    height: 59px;
}
.top-part-text2{
font-weight:bolder;
}
.borderditehobe{
    border:1px solid black;
}
.top-part-div-padding{
    padding-left:15px;
    padding-top:30px;
}
.container{
    margin-bottom:50px;
}
.nav-padding{
    padding-left:0px;
    padding-top:15px;
}
.top-part-illustration{
    width:575px;
    height:350px;
}
.top-part-illustration-padding{
    padding-left:15px;
}
.second-part{
    height:400px;
}

.card-imgages{
    width: 66px;
    height: 85px;
}

.card-items-align{
    padding-top:65px;
    padding-bottom:65px;
}
.card-body{
    background-color:#fafdfa;
}
.online-courses-icon{
        width: 24px;   
}
.online-course-padding{
    padding-top:30px;
}
.online-courses-img-padding{
    padding:15px;
}
.testimonial-dimension{
  margin-left:100px;  
  margin-right:100px;
}
.man-size{
    width: 250px;
    height: 120px;
    padding-left:45%;
    
}
.testimonial-text{
    text-align:justify;
    padding-top:50px;
}
.last-part{
    background-color: #282531;
    height:400px;
}
.last-part-padding{
    padding-top:55px;
}
.last-part-text{
    padding-left:35px;
    padding-top:0px;
    padding-bottom:0px;
    
}